@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,600&display=swap');
body{
    font-family: 'Roboto Mono', monospace;
}

.localizacao{
    max-width: 35px;
    margin-right: 5px;
}

h1{
    font-weight: bold;
    font-size: 25px;
}

h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5
}

p, a{
    line-height: 1.5
}

.img_perfil{
    max-width: 250px;
}

.descricao .ingles{
    display: none;
}

.descricao:hover .ingles{
    display: block;
}

.contato img, .linguagens img{
    max-width: 40px;
    margin: 1px;
}



