body{
    text-align: center;
    background-image: url(./img/pexels-francesco-ungaro-2325446.jpg);
    background-size: cover;
    font-family: 'Indie Flower', cursiva;
    padding: 50px 200px;
}

.container_perfil {
    background-color: rgb(8, 8, 8, 0.6);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}


.foto_perfil{
    width: 250px;
    height: 320px;
    border-radius: 20px;
    border: 3px solid rgba(67, 65, 65, 0.7);
    margin: 20px;
}

.nome{
    color: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
    margin: 20pxs;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight:bold;
}

.localizacao{
    display: flex;
    align-items:center;
    justify-content:center;
}

.imagem_localizacao{
    width: 30px;
    margin: 10px;
}

.texto_localizacao{
    size: 14px;
    color: rgb(255, 255, 255, 0.8);;
}

.descricao{
    color: rgb(255, 255, 255, 0.8);;
    line-height: 30px;
    font-style: italic;
    font-size: 18px;
    margin-bottom: -150px;
}
.menu{
    margin-top: 150px;
}

.menu a button{
    background-color: rgb(0,0,0, 0.8);
    color: rgb(255, 255, 255, 0.8);
    width: 150px;
    height: 40px;
    cursor:pointer;
    border: 2px solid rgb(67, 65, 65);
    border-radius: 10px;
}

.menu a button:hover{
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(0,0,0, 0.8);
    border:  2px solid rgb(67, 65, 65);;
}

.container_contatos {
    background-color: rgb(8, 8, 8, 0.7);
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.container_contatos img {
    margin: 5px;
    border: 1px solid rgb(67, 65, 65);
}

.container_skills{
    display: flex;
    justify-content:space-between;
}
.container_softskills, .container_hardskills{
    background-color: rgb(8, 8, 8, 0.7);
    border-radius: 20px;
    color: rgb(255, 255, 255, 0.8);
    width: 550px;
    padding: 30px 0;
    margin-top: 30px;
}
.container_softskills h2, .container_hardskills h2{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

.container_softskills ul, .container_hardskills ul{
    font-size: 18px;
    text-align:initial;
    padding: 0 150px;
    line-height: 25px;
    list-style-type: circle;
}

.container_galeria{
    background-color: rgb(8, 8, 8, 0.7);
    border-radius: 20px;
    margin-top: 30px;
    padding: 30px 0;
}
.container_galeria h2{
    font-size: 25px;
    margin: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255, 0.8);
    text-align: left;
    padding: 0 40px;
}

.container_galeria a img{
    width: 500px;
    height: 250px;
    margin: 10px;
    border: 2px solid rgb(67, 65, 65);
}



